@model CabSafe.Models.TrackingReference

@{
    ViewBag.Title = "Tracking";
}

<div class="row">
    <div class="col-md-4">
        <div class="reference-wrapper container">
            <dl class="dl-horizontal">
                <dt>
                    Sender
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SenderName)
                </dd>

                <dt>
                    Plate #
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlateNum)
                </dd>

                <dt>
                    Driver Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DriverName)
                </dd>

                <dt>
                    Other Message
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OtherMessage)
                </dd>

                <dt>
                    Reference Code
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.referenceCode)
                </dd>

            </dl>
        </div>
    </div>
    <div class="col-md-8">
        <div id="mapContainer"></div>
        <div id="uiContainer"></div>  
    </div>
</div>
     
